<%- layout('layouts/main') %>
<div class="alert container position-sticky top-0 alert-primary hide" role="alert">
    Producto Añadido al carrito!
</div>
    <div class="alert container position-sticky top-0 alert-danger remove" role="alert">
      Producto removido!
    </div>
<div class="container">
    
    <div class="row ">
        <div style="margin-top: 5%;" class="col-md-5 order-md-2 ">
            <table class="table table-dark table-hover">
                <thead>
                  <tr class="text-primary">
                    <th scope="col">#</th>
                    <th scope="col">Productos</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody class="tbody">
        
                </tbody>
              </table>
              <br><br>
              <div class="row mx-4">
                <div class="col">
                  <h3 class="itemCartTotal text-black">Total: 0</h3>
                </div>
                
              </div>
              <div class="col  text-center">
                <button class="btn btn-primary btn-lg continuar ">Continuar Compra</button>
            </div>
            
            
        </div>
        <div style="background-color: dark ; margin-top: 5%;" class=" form_envio col-md-7 order-md-1 ">
            <h4 class="mb-3">Datos de Envio</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombreUsuario" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid first name is required. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <input type="text" class="form-control" id="apellidoUsuario" placeholder="" value="" required="">
                        <div class="invalid-feedback"> Valid last name is required. </div>
                    </div>
                </div>
             
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="emailUsuario" value="<%= user.email %> ">
                    <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                </div>
                <div class="mb-3">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="direccionUsuario" placeholder="Benito Juares, 45" required="">
                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Dirección 2 <span class="text-muted">(Opcional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Leona Vicario 78">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Pais</label>
                        <select class="custom-select d-block w-100" id="pais" required="">
                            <option value="">Selecciona</option>
                            <option>México</option>
                        </select>
                        <div class="invalid-feedback"> Please select a valid country. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">Estado</label>
                        <select class="custom-select d-block w-100" id="estado" required="">
                            <option value="">Selecciona</option>
                            <option>Guanajuato</option>
                            <option>Agusacalientes</option>
                        </select>
                        <div class="invalid-feedback"> Please provide a valid state. </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Código Postal</label>
                        <input type="text" class="form-control" id="cp" placeholder="" required="">
                        <div class="invalid-feedback"> Zip code required. </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
   
</div>