<%- layout('layouts/main') %>
<section style="margin-top:15%; margin-bottom: 15%;" class="card">
    <div  class="card-body ">
      <h1>Bienvenido <%= user.email %></h1>
      <p>
        Esperemos que encuentres lo que necesitas cualquier duda puede ponerte en contacto con nosotros.
      </p>
    </div>
  </section>




